nav ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 10px;
    color: black;
    padding: 2px 10px;
    border-radius: 2px;
}

nav li a:hover {
    background-color: grey;

}